body {
  margin: 0px;
  padding: 20px;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  margin: 5px;
}

.reminder-form {
  text-align: center;
}

.items {
  text-align: center;
}

.list-item {
  display: inline-block;
}

.delete-button {
  float: right;
  padding-left: 5px;
}

.list-group {
  text-align: center;
}
